<h1 align="center">Edit message</h1>

<%= form_for :post, url: post_path(@post.id), method: :patch do |f| %>
    <% if @post.errors.any? %>
    <div id="errorExplanation">
        <h2><%= pluralize(@poat.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
        <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
    <% end %>
    <p align="center">
        
        <%= f.text_area:text %>
    </p>
    
    <p align="center">
        <%= f.submit 'Send' %>
    </p>
<% end %>
<p  align="center">
    <%= link_to 'Back', posts_path %>
</p>